name: Exercicio 01
on:
  workflow_dispatch:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Lint
        run: |
          echo "Lint ${{ github.event.inputs.NAME }} and ${{ github.event.inputs.SOME_VALUE }}!"
  build:
    needs: lint
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Lint
        run: |
          echo "Build ${{ github.event.inputs.NAME }} and ${{ github.event.inputs.SOME_VALUE }}!"
  deploy:
    needs: build
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Lint
        run: |
          echo "Deploy ${{ github.event.inputs.NAME }} and ${{ github.event.inputs.SOME_VALUE }}!"
   
  create-issue:
    needs: deploy
    name: create-issue
    runs-on: ubuntu-latest
    steps:
      - name: Criar Issue no Repositório
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh issue create --title "Nova Issue Automática" \
                          --body "Esta issue foi criada automaticamente após um push na branch main." \
                          --repo ${{ github.repository }}      
  
